.cen1{
  position: absolute;
  top: 5%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white;
}
.cen2{
  position: absolute;
  top: 5%;
  left: 60%;
  transform: translate(-50%, -50%);	
  color:white;
}
.cen3{
  position: absolute;
  top: 5%;
  left: 70%;
  transform: translate(-50%, -50%);	
  color:white;
}
.cen4{
  position: absolute;
  top: 5%;
  left: 80%;
  transform: translate(-50%, -50%);	
  color:white;
}
.p{
	font-size:40pts;
}
